
.game-wrapper {
    padding-top: 1%;
    width: 90%;
    max-width: 950px;
    min-width: 700px;
    margin: 0 auto;
        
    .board-container {
        position: relative;

        .mat-grid-list {
            .mat-grid-tile {
                border: 2px solid #ccc;

                .step {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    color: #ccc;
                    font-weight: 500;
                }
            }
        }
    }

    .players {
        position: absolute;
        transition: all 0.7s ease;

        .player-indicator {
            border-radius: 100%;
            width: 25px;
            height: 25px;
            margin-top: -25px;
        }
    }

    .game-info {
        margin-top: 20px;
        .player-list {
            margin-top: 5px;
            width: 45%;
            
            .player-color {
                width: 20px;
                height: 10px;
                border-radius: 100px;
            }
        }
    }

}